<label for="location-search">Search for a new place</label>
<input id="location-search" placeholder="Ex: Chicago" #search>
<button (click)="searchHousingLocations(search.value)">Search</button>
<article *ngFor="let location of results">
    <p (click)="showDetails()">{{location.name}}</p>
    <app-details-panel *ngIf="showDetails" [toggleDetails]="detailsData"></app-details-panel>
    <app-details-panel class="details-panel" *ngIf="showDetails"></app-details-panel>
    <!-- <p>{{location.city}}</p>
    <p>Wifi? {{location.wifi}}</p> -->
</article>

<!-- current approach: https://www.w3schools.com/howto/howto_js_toggle_hide_show.asp -->